*.elc
*~
/saved.places
/smex.save
/srecode-map.el
/tramp
/ede-projects.el
/ac-comphist.dat
/eshell/
/session.*
/.emacs.desktop
/.emacs.desktop.lock
/.org-id-locations
/url
/request
/el-get
/.mc-lists.el
/projectile-bookmarks.eld
/erc-creds.el
/elnode
/.cask
