[submodule "cedet"]
	path = cedet
	url = git://github.com/emacsmirror/cedet.git
[submodule "clojure-mode"]
	path = clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "distel"]
	path = distel
	url = git://github.com/bmizerany/distel.git
[submodule "git-emacs"]
	path = git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "gitsum"]
	path = gitsum
	url = git://github.com/chneukirchen/gitsum.git
[submodule "hideshow-org"]
	path = hideshow-org
	url = git://github.com/secelis/hideshow-org.git
[submodule "j"]
	path = j
	url = git://github.com/secelis/j.git
[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "slime"]
	path = slime
	url = git://git.boinkor.net/slime.git
[submodule "smex"]
	path = smex
	url = git://github.com/nonsequitur/smex.git
[submodule "swank-clojure"]
	path = swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "emacs-nav"]
	path = emacs-nav
	url = git://github.com/travisjeffery/emacs-nav.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = git://github.com/jwiegley/haskell-mode.git
[submodule "maxframe"]
	path = maxframe
	url = git://github.com/markhepburn/maxframe-el.git
[submodule "http-twiddle"]
	path = http-twiddle
	url = git://github.com/hassy/http-twiddle.git
[submodule "tags-view"]
	path = tags-view
	url = git://github.com/markhepburn/tags-view.git
[submodule "magit"]
	path = magit
	url = http://github.com/philjackson/magit.git
[submodule "mo-git-blame"]
	path = mo-git-blame
	url = https://github.com/emacsmirror/mo-git-blame.git
[submodule "zencoding"]
	path = zencoding
	url = http://github.com/chrisdone/zencoding.git
[submodule "auctex"]
	path = auctex
	url = https://github.com/eschulte/auctex.git
[submodule "js2-mode"]
	path = js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "twittering-mode"]
	path = twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "escreen"]
	path = escreen
	url = https://github.com/renard/escreen-el.git
[submodule "ess"]
	path = ess
	url = https://github.com/emacsmirror/ess.git
[submodule "mplayer-mode"]
	path = mplayer-mode
	url = git://github.com/markhepburn/mplayer-mode.git
[submodule "psvn"]
	path = psvn
	url = https://github.com/emacsmirror/psvn.git
[submodule "less-css-mode"]
	path = less-css-mode
	url = git@github.com:purcell/less-css-mode.git
