[submodule "cedet"]
	path = thirdparty-special/cedet
	url = https://github.com/emacsmirror/cedet.git
[submodule "clojure-mode"]
	path = thirdparty/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "distel"]
	path = distel
	url = https://github.com/emacsmirror/distel.git
[submodule "git-emacs"]
	path = git-emacs
	url = https://github.com/tsgates/git-emacs.git
[submodule "gitsum"]
	path = gitsum
	url = https://github.com/chneukirchen/gitsum.git
[submodule "hideshow-org"]
	path = thirdparty/hideshow-org
	url = https://github.com/secelis/hideshow-org.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
[submodule "smex"]
	path = thirdparty/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "emacs-nav"]
	path = emacs-nav
	url = https://github.com/travisjeffery/emacs-nav.git
[submodule "haskell-mode"]
	path = thirdparty/haskell-mode
	url = https://github.com/jwiegley/haskell-mode.git
[submodule "maxframe"]
	path = maxframe
	url = https://github.com/markhepburn/maxframe-el.git
[submodule "http-twiddle"]
	path = thirdparty/http-twiddle
	url = https://github.com/hassy/http-twiddle.git
[submodule "tags-view"]
	path = thirdparty/tags-view
	url = git://github.com/markhepburn/tags-view.git
[submodule "magit"]
	path = thirdparty/magit
	url = http://github.com/philjackson/magit.git
[submodule "mo-git-blame"]
	path = thirdparty/mo-git-blame
	url = https://github.com/emacsmirror/mo-git-blame.git
[submodule "zencoding"]
	path = thirdparty/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule "auctex"]
	path = thirdparty/auctex
	url = https://github.com/eschulte/auctex.git
[submodule "js2-mode"]
	path = thirdparty/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "twittering-mode"]
	path = thirdparty/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "escreen"]
	path = thirdparty/escreen
	url = https://github.com/renard/escreen-el.git
[submodule "ess"]
	path = ess
	url = https://github.com/emacsmirror/ess.git
[submodule "mplayer-mode"]
	path = thirdparty/mplayer-mode
	url = git://github.com/markhepburn/mplayer-mode.git
[submodule "psvn"]
	path = thirdparty/psvn
	url = https://github.com/emacsmirror/psvn.git
[submodule "less-css-mode"]
	path = thirdparty/less-css-mode
	url = git@github.com:purcell/less-css-mode.git
[submodule "rainbow-mode"]
	path = thirdparty/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
