[submodule "http-twiddle"]
	path = thirdparty/http-twiddle
	url = https://github.com/hassy/http-twiddle.git
[submodule "tags-view"]
	path = thirdparty/tags-view
	url = git://github.com/markhepburn/tags-view.git
[submodule "mplayer-mode"]
	path = thirdparty/mplayer-mode
	url = git://github.com/markhepburn/mplayer-mode.git
[submodule "psvn"]
	path = thirdparty/psvn
	url = https://github.com/emacsmirror/psvn.git
[submodule "thirdparty/haskell-mode"]
	path = thirdparty/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "thirdparty/pcre2el"]
	path = thirdparty/pcre2el
	url = https://github.com/joddie/pcre2el.git
