*.elc
*~
/.cask
/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/.org-id-locations
/.python-environments
/ac-comphist.dat
/ede-projects.el
/elnode
/elpa
/erc-creds.el
/eshell/
/projectile-bookmarks.eld
/projectile.cache
/server/*
/request
/saved.places
/session.*
/recentf
/smex.save
/srecode-map.el
/tramp
/url
/.session
/ca-bundle.crt
/quelpa
/*-variables.el
/.cache
/network-security.data
/transient
/elpy
/.lsp-session-v1
/nix-buffer
