*.elc
*~
/.cask
/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/.org-id-locations
/.python-environments
/ac-comphist.dat
/ede-projects.el
/el-get
/elnode
/elpa
/erc-creds.el
/eshell/
/projectile-bookmarks.eld
/request
/saved.places
/session.*
/smex.save
/srecode-map.el
/tramp
/url
/.session
